@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Vollkorn|Raleway');

body{
  font-family: 'Raleway'
  width: 100%;
  margin: 0;
}

ul{
 text-align: center;
  list-style-position: inside;
  font-size: 30px;
  font-family: 'Raleway', serif;
  color: yellow;

}

.thumbnail-gallery {
  border: solid 10px firebrick;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex end;
}


/*.artist-name2,*/
/*.artist-song2{*/
 
/*.album1,*/
/*.album2,*/
/*.album3,*/
/*.album4,*/
/*.album5,*/
/*.album6,*/
/*.album7,*/
/*.album8,*/
/*.album9,*/
/*.album10,*/
/*.album11,*/
/*.album12,*/
/*.album9,*/
div{
  padding:.25em 0em;
  width:25%;
  margin: .5em;
  border-radius:1em;
  text-transform: capitalize;
}
.album-img{
  width: 100%;
  border-radius: 1em;
}

.album1 {
  background-color: grey;
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.album2 {
  background-color: gold;
  color: white;
 display: flex;
  flex-wrap: wrap;
}

.album3 {
  background-color: green;
  color: white;
   display: flex;
  flex-wrap: wrap;
}
.album4 {
  background-color: red;
  color: white;
   display: flex;
  flex-wrap: wrap;
}

.album5 {
  background-color: darkgrey;
  color: white;
   display: flex;
  flex-wrap: wrap;
}

.album6 {
  background-color:#2F0903;
  color: white;
   display: flex;
  flex-wrap: wrap;
}

.album7{
  background-color: blue;
   display: flex;
  flex-wrap: wrap;
}
.artist-name2{
  color:maroon;
  font-size: 1.7em;
  display:flex;
  justify-content: center;
}
.artist-name2,
.artist-song2{
  text-align: left;
  
  
}
/*body {*/
/*  background-color: #000000;*/
  /*background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");*/
/*}*/


footer {
  background-color: violet;
  border-top: solid 3px yellow;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}


a:hover {
  color: red;
}

a:vistited {
  color: yellow;
}

img {
  display: inline;
}

.icon {
  color: red;
}


.fav-app{
  list-style-type: none;
}


