body {
  width: 100%;
  margin: 0;
  height: 100%;
  background: url("https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?auto=compress&cs=tinysrgb&h=350")no-repeat fixed;
  background-size: cover;
}

.navbar {
  background-color: violet;
  border-bottom: solid 3px black;
  top: 0;
  padding: 1%;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  list-style-type: none;
  display: flex;
}
nav {
  width:100%;
  top:0;
  margin:0;
  position:fixed;
}
ul.nav {
  margin:0;
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

/*ul.nav li {*/
/*  font-size: 2em;*/
/*  padding:0.5em;*/
/*}*/

.nav a { 
  text-decoration:none;
  color:white;
}
.nav-item{
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items:center;*/
  /*justify-content:flex-start;*/
}
.nav-logo{
  width: 87.75px;
  height: 87.75px;
}
.index-img {
  display:flex;
  justify-content: center;
  margin: 2em;
}
.yiruma-youtube{
  display: flex;
  justify-content:center;
  margin: 2em;
}

h1 {
  text-align: center;
  font-size: 7em;
  font-family: 'Great Vibes', cursive;
  border: solid red;
  color: yellow;
  margin: 10%;
  padding: 1%;
}


ol {
  list-style-type: upper-roman;

}

ol,
ul,
h2,
p {
  text-align: center;
  list-style-position: inside;
  font-size: 30px;
  font-family: 'Raleway', serif;
  color: yellow;
}




footer {
  background-color: violet;
  border-top: solid 3px black;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

a:link {
  color:yellow;
  font-size: 1.5em;
  text-decoration: none;
  display: flex;
  justify-content:center; 
}

a:hover {
  color: red;
}

a:vistited {
  color: yellow;
}

.fas fa-bell fa-3x: hover {
color: red;
}


